{% extends "base.html" %}

{% block content %}
<div class="container mt-5 alert alert-primary">
    <h1 class="text-center my-5">Bienvenue sur l'interface de HB Immo</h1>

    <div class="d-flex justify-content-center mt-3 mb-5">
        <a href="{{ base_path ~ '/asset'}}" class="btn btn-lg btn-outline-dark mr-3">Consulter la liste des biens</a>
        <a href="{{ base_path ~ '/asset/create'}}" class="btn btn-lg btn-outline-dark ml-3">Ajouter un bien</a>
    </div>
</div>
{% endblock %}