{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-end mx-auto mr-5 mt-2" style="width: 65%;">
    <a href="{{ base_path }}" class="btn btn-outline-dark btn-lg">Retour à la page d'accueil</a></div>
<div class="container my-3 text-center">

    <h1 class="mb-5">Créer un bien :</h1>

    <form action="{{ base_path ~ '/asset'}}" method="post" style="width: 40%;" class="mx-auto">

        <div class="form-group">
            <label for="">Titre du bien : </label>
            <input type="text" class="form-control" placeholder="Titre" name="title">
        </div>

        <div class="form-group">
            <label for="">Valeur en € : </label>
            <input type="text" class="form-control" placeholder="Valeur" name="value">
        </div>

        <div class="form-group">
            <label for="">Surface en m² : </label>
            <input type="text" class="form-control" placeholder="Surface" name="area">
        </div>

        <div class="form-group">
            <label for="">Nombre de pièces : </label>
            <input type="text" class="form-control" placeholder="Nombre de pièces" name="rooms">
        </div>

        <div class="form-group">
            <label for="">Code postal : </label>
            <input type="text" class="form-control" placeholder="Code postal" name="zipcode">
        </div>

        <div class="form-group">
            <label for="">Ville : </label>
            <input type="text" class="form-control" placeholder="Ville" name="city">
        </div>

        <input type="submit" value="Créer un bien" class="btn btn-primary btn-lg mt-4">


        {% endblock %}