{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-around mt-2 mb-5">
    <a href="{{ base_path }}" class="btn btn-outline-dark btn-lg">Retour à la page d'accueil</a>


    <a class="btn btn-primary btn-lg" href="{{ base_path ~ '/asset/create' }}">Créer un bien immobilier</a>
</div>
<h1 class="text-center mb-5">Liste des biens immobiliers</h1>

{% for asset in assets %}
<div class="alert alert-secondary container mx-auto d-flex justify-content-between" style="width: 40%;">
    <div>
        <h2>{{asset.title}}</h2><br>
        <p>
            Valeur: {{asset.value}} €<br>
            Surface: {{asset.area}} m²<br>
            Nombre de pièces: {{asset.rooms}}<br>
            Ville: {{asset.city}}<br>
            Code postal: {{asset.zipcode}}
        </p>
    </div>
    <div class=" d-flex align-items-center">
        <a class="btn btn-primary btn-lg" href="{{ base_path ~ '/asset/' ~ asset.id }}">Voir les détails</a>
    </div>
</div>
{% endfor %}

{% endblock %}