{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-end mr-2 mt-2 mx-auto" style="width: 65%;">
  <a href="{{ base_path }}" class="btn btn-outline-dark btn-lg">Retour à la page d'accueil</a></div>
<h2 class="text-center mt-5">Vue détaillée d'un bien :</h1>
  <div class="card border-primary mt-5 mb-5 mx-auto text-center" style="max-width: 18rem;">
    <div class="card-header text-center">Bien #{{asset.id}}</div>
    <div class="card-body text-primary">
      <h5 class="card-title">{{asset.title}}</h5>
      <p class="card-text">Valeur: {{asset.value}} €<br>
        Surface: {{asset.area}} m²<br>
        Nombre de pièces: {{asset.rooms}}<br>
        Ville: {{asset.city}}<br>
        Code postal: {{asset.zipcode}}
      </p>
    </div>
  </div>

  <div class="container text-center mt-5 mb-5" style="width: 40%;">


    <h2 class="text-center mb-5">Créer un contact pour le bien #{{asset.id}} :</h1>

      <form action="{{ base_path ~ '/asset/' ~ asset.id}}" method="post">

        <div class="form-group">
          <label for="">Prénom : </label>
          <input type="text" class="form-control" placeholder="Prénom" name="firstname">
        </div>

        <div class="form-group">
          <label for="">Nom : </label>
          <input type="text" class="form-control" placeholder="Nom" name="lastname">
        </div>

        <div class="form-group">
          <label for="">Email : </label>
          <input type="text" class="form-control" placeholder="Email" name="email">
        </div>

        <div class="form-group">
          <label for="">Message : </label>
          <textarea class="form-control" placeholder="Message" name="message"></textarea>
        </div>

        <button class="btn btn-primary btn-lg mt-4">Créer un contact</button>

      </form>
  </div>
  <h2 class="text-center mt-5 mb-5">Liste des contacts :</h2>
  {% for contact in contacts %}

  <div class="card border-primary mt-3 mb-3 mx-auto text-center" style="max-width: 18rem;">
    <div class="card-header text-center">Contact #{{contact.id}}</div>
    <div class="card-body text-primary">
      <h5 class="card-title">{{contact.firstname}} {{contact.lastname}}</h5>
      <p class="card-text">Email: {{contact.email}}<br><br>
        Message: {{contact.message}}
      </p>
    </div>
  </div>

{% endfor %}
{% endblock %}